{% include "header.html" %}

{% load comments tagging_tags %}
{% if post_list %}
	{% for post in post_list %}
	<div class="post">
		<h3 class="title"><a href="{{ post.get_absolute_url }}" rel="bookmark">{{ post.title }}</a></h3>

		<div class="content">
			{% autoescape off %}
			{{ post.excerpt }} {% if post.pagebreak %}<a href="{{ post.get_absolute_url }}#more-{{ post.id }}">Read More...</a>{% endif %}
            {% endautoescape %}
			<div class="fixed"></div>
		</div>

		<div class="meta">
			<div class="act">
				{% get_comment_count for post as comment_count %}
            	<a href="{{ post.get_absolute_url }}#comment">
            		{% if comment_count %}
            			{{ comment_count }} COMMENT{{ comment_count|pluralize }}
            		{% else %}
            			NO COMMENT 
            		{% endif %}
            	</a>
			</div>
			<div class="info">
				Author: {{ post.author }} | Created: {{ post.created_at|date:"M d Y" }}
			</div>
			<div class="fixed"></div>
		</div>
	</div>
	{% endfor %}

	<div id="pagenavi" class="block"></div>
{% else %}
	<div class="block">
		<div class="content small r">
			对不起, 不存在相应的文章.
		</div>
	</div>
{% endif %}

{% include "footer.html" %}
