{% extends "base.html" %}

{% block content %}
<div class="article">
	<div class="inner">
		<h2 class="article_title title"><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h2>
		<div class="article_meta">
			<div class="share">
				<a href="https://twitter.com/share" class="twitter-share-button" data-via="shellex">Tweet</a>
				<div class="g-plusone" data-size="medium"></div>
			</div>
			<span>by</span>
            {{ post.author }}
			<span>on</span>
            {{ post.created_at|date:"D d M Y" }}
			<span>in</span>
            <a href="/blog/category/{{ post.category.slug }}/">{{ post.category.name }}</a>
		</div>
		<div class="text">
			{{ post.content }}
		</div>
		<div class="big_sep"></div>
		<div class="article_meta">
            <span>tagged:</span>
            <a class="tag" href="/blog/t/">tag</a>
        </div>
	</div> <!-- .inner -->
</div>	<!-- .article -->
{% endblock %}
