		</div>		
<!-- main END -->		
{% include "sidebar.html" %}

	<div class="fixed"></div>	
</div>	
<!-- content END -->	

<!-- footer START -->	
<div id="footer">
	<div class="content">
	<span id="about"> THEME BY <a href="http://www.neoease.com/" 
		target="_blank">NEOEASE</a> AND MODIFID BY <a href="http://www.yeezi.org"
		>HAPPYYEZI</a> . <a href="http://www.yeezi.org/m/" title="Visit with mobile"
		>Mobile</a>&nbsp;<a href="http://www.yeezi.org/sitemap.xml" title="Sitemap"
		>Sitemap</a>
	</span>
	<a id="gotop" href="#">Go Top</a>
	<div class="fixed"></div>		
	</div>
</div>	

<!-- footer END -->
</div>
<!-- container END -->

<!-- shangxia START --> 
<div id="shangxia">
	<div id="shang"></div>
	<div id="comt"></div>
	<div id="xia"></div>
</div>
<!-- shangxia END -->
</body>
</html>